---
import { SummerbudLogo } from "../components";
import { Footer, Link } from "../components";
import FeatureImage from "../components/FeatureImage.astro";
import type { FeatureImg, Nullable } from "../type";
const props = Astro.props as Props;

export type Props = {
	title: string;
	featureImg: Nullable<FeatureImg>;
};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{props.title}</title>
	</head>
	<body>
		<div class="flex flex-col min-h-screen p-0 bg-black">
			<div class="w-full flex-1 max-w-[800px] mx-auto py-40 px-10 lg:px-0">
				{
					props.featureImg ? (
						<FeatureImage
							src={props.featureImg.path}
							alt={props.featureImg.alt}
							source={props.featureImg.source}
							marginBottom="mb-20"
							position="mx-auto"
						/>
					) : null
				}
				<slot />
			</div>
			<div class="flex flex-col p-10 border-t border-gray-800">
				<Footer />
			</div>
			<div class="absolute w-full top-0 h-10 flex flex-row p-10">
				<div class="mr-auto">
					<SummerbudLogo />
				</div>
				<Link dest="/archive" className="my-auto">archive</Link>
			</div>
		</div>
	</body>
</html>
